<div ui-content-for="title">
  <span>About</span>
</div>

<div class="scrollable about" ng-controller="LoginController">
 <div class="scrollable-content section">
  <h2 class="about-header">Payments made easy.</h2>
  <div class='about-infographic-background'>
    <img src="/images/sipree-infographic.png" style="width:100%" alt="">
  </div>
  <div class="well about-well">
    Sipree is a cloud-based service company that makes it easier for companies to pay consumers, partners, vendors, and affiliates around the world. Sipree roots sprang from an outgrowth of strategic planning at PayPal with a simple but profound goal:  to take the friction out of nonrecurring and irregular commercial payments.  Sipree addresses nuisance payments for Global 2000 companies and Governments by connecting them to alternative payment networks and providing the necessary integration, business rule logic, and payment accessories.
  </div>
  <h2 class="about-header">If your company makes payments, you need Sipree.</h2>
  <footer>© 2016 Sipree, Inc.</footer>
 </div>
</div>
