<div ui-content-for="title">
  <span>Home</span>
</div>

<div class="scrollable" ng-controller="MainController">
  <div class="scrollable-content section">
    <section class="section container-fluid">
      <h1 class="page-header">Welcome to Sipree</h1>
      <div id="home-buttons-container">
        <div class="row">
          <a href="/#/payments">
            <button class="btn btn-lg btn-primary">Payments</button> 
          </a>     
        </div>
        <div class="row">
          <a href="/#/about">
            <button class="btn btn-lg btn-primary"> About</button>      
          </a>
        </div>
      </div>  
    </section>
  </div>
</div>
