<!-- <h1 class="app-name">sipree-app</h1> -->

<div class="scrollable">
  <div id='sidebar-logo'>    
    <img class="sipree-logo" src="images/sipree-logo.png" alt="">
  </div>
  <!-- <h1 class="scrollable-header app-name">sipree-app</h1>   -->
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/payments">Payments <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/about">About <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>